<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
</head>
<body>
    <header>
        <h1>Blog Executivo</h1>
        <p>Explorando o mundo dos negócios e da liderança</p>
    </header>
    <nav>
        <ul>
            <li><a href="/">Página inicial</a></li>
            <li><a href="/artigos">Artigos</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
    </nav>
    
    {% block conteudo %}

    {% endblock %}

    <footer>
        <p>&copy; 2023 Blog Executivo. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
