{% extends 'base.html' %}

{% block conteudo %}
<section>
    <h2>Bem-vindo ao Universo da Programação!</h2>
    <p>Esta é a página inicial dedicada aos apaixonados por programação. Aqui, exploramos o fascinante mundo do desenvolvimento de software e suas infinitas possibilidades.</p>
</section>

<section>
    <h3>Descubra o Poder do Código</h3>
    <p>Os programadores têm a habilidade de transformar linhas de código em soluções inovadoras. Eles são os arquitetos por trás de aplicativos, sites e sistemas que impulsionam a nossa era digital.</p>
</section>

<section>
    <h3>Explorando Linguagens de Programação</h3>
    <p>De Python a JavaScript, de C++ a Ruby, os programadores têm à sua disposição uma vasta variedade de linguagens para criar software de alta qualidade. Descubra as nuances de cada linguagem e escolha a mais adequada para o seu projeto.</p>
</section>

<section>
    <h3>Comunidade e Colaboração</h3>
    <p>A comunidade de programadores é incrivelmente ativa e colaborativa. Fóruns, repositórios de código aberto e plataformas de compartilhamento incentivam a troca de conhecimento e a criação conjunta.</p>
</section>

<section>
    <h3>Desafios e Inovação</h3>
    <p>A programação é uma jornada repleta de desafios empolgantes. Resolver problemas complexos e encontrar soluções inovadoras é o que impulsiona os programadores a continuarem aprendendo e evoluindo.</p>
</section>

<section>
    <h3>Pronto para Começar?</h3>
    <p>Se você é um entusiasta da programação ou está apenas começando, este é o lugar perfeito para explorar, aprender e se inspirar. Junte-se a nós nessa jornada emocionante pelo universo do código!</p>
</section>
{% endblock %}
